.titleImageIcon,
.unsplash129eq55lqhaIcon,
.unsplashwh8lh2qzZsIcon {
  position: absolute;
  top: 1178px;
  left: 1214px;
  width: 1440px;
  height: 810px;
  object-fit: cover;
}
.unsplash129eq55lqhaIcon,
.unsplashwh8lh2qzZsIcon {
  height: 960px;
}
.unsplashwh8lh2qzZsIcon {
  width: 2708px;
  height: 1805px;
}
.background,
.bgFade {
  position: absolute;
  top: 1393px;
  left: 1203px;
  background-color: var(--color-gray-400);
  width: 1451px;
  height: 1807px;
}
.background {
  top: 1178px;
  left: 1214px;
  background-color: var(--color-black);
  width: 1440px;
  height: 215px;
  opacity: 0.5;
}
.eventsThings {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 110%;
}
.eventsThingsInNewYorkWrapper {
  position: absolute;
  top: 1284px;
  left: 1650px;
  width: 567px;
  height: 44px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.navigationChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  box-shadow: 0 4px 66px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 60px;
}
.navigationItem {
  position: absolute;
  top: 12px;
  left: 1279px;
  width: 130px;
  height: 34px;
  object-fit: cover;
}
.searchIcon {
  position: absolute;
  height: 37.93%;
  width: 1.53%;
  top: 31.03%;
  right: 12.99%;
  bottom: 31.03%;
  left: 85.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue-200);
  border: 1px solid var(--text-light-primary);
  box-sizing: border-box;
  width: 128px;
  height: 34px;
}
.groupPlay {
  position: absolute;
  top: 7px;
  left: 26px;
  font-weight: 600;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 34px;
}
.logoIcon,
.search,
.start {
  position: absolute;
  display: none;
}
.search {
  top: 12px;
  left: 455px;
  width: 128px;
  height: 34px;
}
.logoIcon,
.start {
  top: 0;
  left: 0;
}
.logoIcon {
  width: 111px;
  height: 26px;
  object-fit: cover;
}
.start {
  line-height: 20px;
}
.iconnavigationarrowBackIos {
  position: absolute;
  height: 37.31%;
  width: 14.55%;
  top: 36.71%;
  right: 0.42%;
  bottom: 25.98%;
  left: 85.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.newYork {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 600;
}
.iconnavigationarrowBackIosParent {
  position: absolute;
  height: 100%;
  width: 34.34%;
  top: 0;
  right: 39.25%;
  bottom: 0;
  left: 26.42%;
}
.iconnavigationarrowBackIos1 {
  position: absolute;
  height: 37.31%;
  width: 17.19%;
  top: 31.71%;
  right: 0.49%;
  bottom: 30.98%;
  left: 82.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconnavigationarrowBackIosGroup {
  position: absolute;
  height: 100%;
  width: 29.06%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70.94%;
}
.logoMenu,
.menuItems {
  position: absolute;
  top: 3px;
  left: 127px;
  width: 265px;
  height: 20px;
}
.logoMenu {
  top: 16px;
  left: 32px;
  width: 392px;
  height: 26px;
}
.finalLuckyDodoVar01Icon,
.finalLuckyDodoVar05Icon {
  position: absolute;
  top: 2px;
  left: 56px;
  width: 100px;
  height: 56px;
  object-fit: cover;
}
.finalLuckyDodoVar05Icon {
  top: 0;
  left: 0;
  width: 98px;
  height: 55px;
}
.finalLuckyDodoVar01Parent {
  position: absolute;
  top: 0;
  left: 38px;
  width: 156px;
  height: 58px;
}
.bellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.icons {
  position: absolute;
  top: 17px;
  left: 1336px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue-200);
  border: 1px solid var(--text-light-primary);
  box-sizing: border-box;
  width: 133px;
  height: 34px;
}
.createATeam {
  position: absolute;
  top: 7px;
  left: 18px;
  font-weight: 600;
}
.navigation,
.search1,
.searchInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 133px;
  height: 34px;
}
.navigation,
.search1 {
  top: 12px;
  left: 455px;
}
.navigation {
  top: 1178px;
  left: 1214px;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0)
  );
  width: 1440px;
  height: 58px;
  font-size: var(--button-normal-button-text-size);
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--text-light-primary);
  width: 663px;
  height: 60px;
}
.searchGroupIcon {
  position: absolute;
  height: 36.67%;
  width: 3.32%;
  top: 31.67%;
  right: 91.7%;
  bottom: 31.67%;
  left: 4.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search3 {
  position: absolute;
  top: 22px;
  left: 70px;
  font-weight: 500;
}
.rectangleContainer,
.search2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 663px;
  height: 60px;
}
.search2 {
  top: 1410px;
  left: 1602px;
  font-size: var(--button-normal-button-text-size);
  color: var(--color-darkslategray-400);
  font-family: var(--font-sf-pro-display);
}
.imageIcon {
  position: relative;
  border-radius: var(--br-9xs);
  width: 260px;
  height: 146px;
  flex-shrink: 0;
  object-fit: cover;
}
.tileComponent,
.tileComponent1,
.tileComponent2 {
  position: absolute;
  top: 48px;
  left: 0;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tileComponent1,
.tileComponent2 {
  left: 551px;
}
.tileComponent2 {
  left: 1104px;
}
.playIcon {
  position: relative;
  border-radius: var(--br-21xl);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.controls {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.controlBar,
.controls,
.reveal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.reveal {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.controlBar {
  align-self: stretch;
  justify-content: space-between;
}
.match {
  line-height: 24px;
  color: var(--green);
}
.div,
.match {
  position: relative;
}
.age {
  border: 1px solid var(--text-light-primary);
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-3xs);
  font-family: var(--text-regular-normal);
}
.hd1,
.season {
  position: relative;
  line-height: 24px;
}
.hd1 {
  line-height: 16px;
}
.hd,
.showInfo {
  display: flex;
  justify-content: flex-start;
}
.hd {
  border-radius: var(--br-9xs);
  border: 1px solid var(--text-light-primary);
  flex-direction: column;
  padding: var(--padding-11xs) var(--padding-7xs);
  align-items: flex-start;
  font-size: var(--font-size-5xs);
  font-family: var(--text-regular-normal);
}
.showInfo {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.mystery {
  position: relative;
  line-height: 18px;
}
.genreChild {
  position: relative;
  width: 4px;
  height: 4px;
  flex-shrink: 0;
}
.info,
.tileComponent3,
.tileComponent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info {
  background-color: var(--bg-header);
  width: 260px;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-base);
  opacity: 0;
}
.tileComponent3,
.tileComponent4 {
  position: absolute;
  top: 48px;
  left: 211px;
  border-radius: var(--br-9xs);
  width: 390px;
  height: 146px;
  overflow: hidden;
  align-items: center;
}
.tileComponent4 {
  left: 763px;
}
.seeAgain {
  position: relative;
  line-height: 32px;
}
.sectionTitle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xl);
  font-family: var(--text-regular-normal);
}
.sciFi,
.trendingNow {
  position: absolute;
  top: 2269px;
  left: 1279px;
  width: 1364px;
  height: 194px;
}
.trendingNow {
  top: 2019px;
}
.icon,
.sectionTitle2 {
  position: absolute;
  top: 0;
}
.sectionTitle2 {
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.icon {
  left: -1px;
  width: 131.33px;
  height: 185px;
  opacity: 0.25;
}
.imageIcon10 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 132px;
  height: 185px;
  flex-shrink: 0;
  object-fit: cover;
}
.tileComponent10 {
  position: absolute;
  top: 0;
  left: 102px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.icon1,
.six {
  position: absolute;
  top: 47px;
  left: 1330px;
  width: 234px;
  height: 185px;
}
.icon1 {
  top: 0;
  left: 0;
  width: 126.33px;
  opacity: 0.25;
}
.tileComponent11 {
  position: absolute;
  top: 0;
  left: 103px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.five,
.icon2 {
  position: absolute;
  top: 48px;
  left: 1069px;
  width: 235px;
  height: 185px;
}
.icon2 {
  top: 0;
  left: 0;
  width: 143.5px;
  opacity: 0.25;
}
.four {
  top: 48px;
  left: 811px;
  width: 234px;
}
.four,
.icon3,
.icon4,
.three {
  position: absolute;
  height: 185px;
}
.icon3 {
  top: 0;
  left: 0;
  width: 128.75px;
  opacity: 0.25;
}
.icon4,
.three {
  top: 48px;
  left: 552px;
  width: 235px;
}
.icon4 {
  top: 0;
  left: 0;
  width: 134.35px;
  opacity: 0.25;
}
.tileComponent14 {
  position: absolute;
  top: 0;
  left: 110px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.two {
  top: 48px;
  left: 285px;
  width: 242px;
}
.icon5,
.one,
.two {
  position: absolute;
  height: 185px;
}
.icon5 {
  top: 0;
  left: 0;
  width: 108.5px;
  opacity: 0.25;
}
.one {
  top: 48px;
  left: 25px;
  width: 235px;
}
.seeAgainSection,
.top10 {
  position: absolute;
  left: 1279px;
}
.top10 {
  top: 1730px;
  width: 1564px;
  height: 233px;
  font-size: var(--font-size-xl);
  font-family: var(--text-regular-normal);
}
.seeAgainSection {
  top: 1480px;
  width: 1364px;
  height: 194px;
}
.info6Child,
.titleImageParent {
  position: absolute;
  top: -1178px;
  left: -1214px;
  width: 2843px;
  height: 3200px;
}
.info6Child {
  top: 2px;
  left: 0;
  background-color: var(--color-gray-1200);
  width: 1440px;
  height: 947px;
}
.imgIcon,
.rectangleDiv,
.titleImageIcon1 {
  position: absolute;
  top: 510.5px;
  left: -510.5px;
}
.rectangleDiv {
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 961px;
  height: 732px;
}
.imgIcon,
.titleImageIcon1 {
  width: 1018px;
  height: 572px;
  object-fit: cover;
}
.imgIcon {
  height: 43.62%;
  width: 77.49%;
  top: 38.26%;
  right: 60.77%;
  bottom: 18.12%;
  left: -38.26%;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bgFade1 {
  position: absolute;
  top: 828px;
  left: -546.5px;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0),
    rgba(20, 20, 20, 0.82) 49.38%,
    #141414
  );
  width: 1057px;
  height: 741px;
}
.groupChild1 {
  top: 6.36px;
  left: 6.36px;
  border-radius: var(--br-3xs);
  background-color: var(--text-light-primary);
  width: 2px;
  transform: rotate(45deg);
}
.groupChild1,
.groupChild2,
.rectangleParent1 {
  position: absolute;
  height: 20px;
  transform-origin: 0 0;
}
.groupChild2 {
  top: 20.51px;
  left: 7.78px;
  border-radius: var(--br-3xs);
  background-color: var(--text-light-primary);
  width: 2px;
  transform: rotate(135deg);
}
.rectangleParent1 {
  top: 544.36px;
  left: 457.5px;
  width: 20px;
  transform: rotate(45deg);
}
.findCousre,
.findCousre1 {
  position: absolute;
  display: inline-block;
}
.findCousre {
  top: 927.5px;
  left: -464.5px;
  font-size: var(--font-size-29xl);
  line-height: 20px;
  font-weight: 600;
  width: 461px;
  height: 46px;
}
.findCousre1 {
  top: 1020.5px;
  left: -454.5px;
  line-height: 30.5px;
  font-weight: 500;
  color: var(--text-light-primary);
  width: 581px;
}
.groupChild3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--text-light-primary);
  backdrop-filter: blur(44px);
  width: 156px;
  height: 58px;
}
.polygonIcon {
  position: absolute;
  top: 3.2px;
  left: 6.5px;
  border-radius: var(--br-11xs);
  width: 17.5px;
  height: 19.59px;
}
.play {
  position: absolute;
  top: 4px;
  left: 37px;
  font-weight: 500;
}
.polygonParent {
  position: absolute;
  top: 16px;
  left: 43px;
  width: 70px;
  height: 26px;
}
.groupContainer,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 156px;
  height: 58px;
}
.groupWrapper {
  top: 904.5px;
  left: -72.5px;
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.groupDiv {
  position: absolute;
  top: -437.5px;
  left: 714.5px;
  width: 1334.31px;
  height: 1334.31px;
  transform: rotate(45deg);
  transform-origin: 0 0;
  font-size: var(--text-regular-normal-size);
  color: var(--color-gainsboro-100);
  font-family: var(--button-normal-button-text);
}
.finalLuckyDodoVar01Icon1,
.info6Item {
  position: absolute;
  top: 723px;
  left: 253px;
  width: 933px;
  height: 128px;
  object-fit: cover;
}
.finalLuckyDodoVar01Icon1 {
  top: 431px;
  left: 241px;
  width: 100px;
  height: 56px;
}
.favoriteHeartLikeLikesLoveIcon {
  position: absolute;
  top: 485px;
  left: 817px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.info6 {
  position: relative;
  background-color: var(--text-light-primary);
  width: 100%;
  height: 881px;
  overflow: hidden;
  text-align: left;
  font-size: var(--button-small-button-text-small-size);
  color: var(--text-light-primary);
  font-family: var(--font-open-sans);
}
